JWT_SECRET=xxxxxx
CRYPTO_HASH_KEY=xxxxxx
COOKIE_SECRET=xxxxxx
// OAuth Remote Providers
GITHUB_CLIENT_ID=xxxxxx
GITHUB_CLIENT_SECRET=xxxxxx
GOOGLE_CLIENT_ID=xxxxxx
GOOGLE_CLIENT_SECRET=xxxxxx
FACEBOOK_CLIENT_ID=xxxxxx
FACEBOOK_CLIENT_SECRET=xxxxxx
MSA_CLIENT_ID=xxxxxx
MSA_CLIENT_SECRET=xxxxxx
LINE_CHANNEL_ID=xxxxxx
LINE_CHANNEL_SECRET=xxxxxx