extend ./base.pug

block content
  .container
    .bs-component
      .well ログインに使用するサービスを選択してください
    ul.list-unstyled
      li: a.btn.btn-info.btn-auth(href='/auth/google')
        i.fa.fa-google-plus-square
        | google
      li: a.btn.btn-info.btn-auth(href='/auth/microsoft')
        i.fa.fa-windows
        | microsoft
      li: a.btn.btn-info.btn-auth(href='/auth/github')
        i.fa.fa-github-square
        | github
      li: a.btn.btn-info.btn-auth(href='/auth/line')
        i.fa.c-fa-line
        | line
      //- li: a.btn.btn-info.btn-auth(href='/auth/null')
      //-   i.fa.fa-user
      //-   | null(debug)
