doctype
html
  head
    title location test page
    link(rel='stylesheet', href='/css/map.css')
  body
    #map-canvas: p: "loading..."
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDbwD8j8hNi66mhROYx6rWU7Vl-NDiaW9g')
	script(src='http://cdn.sobekrepository.org/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.min.js')
    script(src='/js/map.js')
    script(src='https://cdn.socket.io/socket.io-1.4.3.js')
    script(src='/js/io.js')
