doctype
html
  head
    title test
    link(rel='stylesheet', href='/css/map.css')
  body
    #map-canvas: p: "loading..."
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDbwD8j8hNi66mhROYx6rWU7Vl-NDiaW9g')
    script(src='/js/map.js')
