doctype
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='theme-color', content='#4DB6AC')
    link(rel='stylesheet', href='/css/map.css')
    title &#127835; Location overview
  body
    #map-canvas: p "loading..."
    script(src='https://cdn.socket.io/socket.io-1.4.3.js')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCdl30sDo_R0-BiwMJvhro9Az1VS1ISI0w')
    script(src='https://cdn.sobekrepository.org/includes/gmaps-markerwithlabel/1.9.1/gmaps-markerwithlabel-1.9.1.min.js')
    script(src='/js/map.js')
    script(src='/js/hash.js')
    script(src='/js/io.js')
