html, body, #map-canvas
{
  height: 100%;
  margin: 0;
  padding: 0;
}

.labels{
  color: black;
  background-color: white;
  font-size: 10px;
  text-align: center;
  width: 60px;
  border: 2px solid red;
  white-scape: nowrap;
}

.looking{
  color: white;
  background-color: red;
}

.additional-control{
  margin: 10px;
  padding: 8px;
  background-color: #fff;
  border-radius: 2px;
}
