html, body, #map-canvas, 
.layout-root, .layout-root .mdl-layout__content
{
  height: 100%;
  margin: 0;
  padding: 0;
}

.labels{
  color: black;
  background-color: white;
  font-size: 10px;
  text-align: center;
  width: 60px;
  border: 2px solid red;
  white-scape: nowrap;
}

.looking{
  color: white;
  background-color: red;
}

.additional-control{
  margin: 8px;
  padding: 8px;
  background-color: #fff;
  border-radius: 2px;
  -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.3);
}

.width-wrapper{
  width: 100vw;
}

#search-bar.mdl-layout__header {
  background-color: transparent;
  box-shadow: none;
}

.additional-control.search-bar{
  padding: 0px;
  min-height: 0px;
  height: 48px;
  max-width: 320px;
  width: auto;
  position: relative;
}

#search-bar{
  display: none;
}

#search-bar button{
  color: #000;
  margin: 8px;
  padding: 0px;
  text-align: center;
}

#search-bar input {
  font-size: 15px;
}

#search-bar button:focus{
  outline: 0px;
}

#search-bar input:focus{
  outline: 0px;
}

.search-bar form{
  margin-left: 58px;
  padding-left: 6px;
  padding-right: 10px;
  height: 100%;
}

.search-bar form input{
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
}

.mdl-layout__drawer label {
  margin: 10px;
  height: 48px;
}

@media screen and (max-width: 600px) {
  #search-bar input {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .additional-control.search-bar{
    max-width: 9999px;
  }
}

.pac-container {
  margin-left: -64px;
}

.night .search-bar, .night input {
  background-color: #405060;
}

#search-bar.night button.mdl-layout__drawer-button,
.night input {
  color: #ccc;
}

.pac-container.night {
  border-top-color: #666;
  background-color: #405060;
}

.pac-container.night .pac-item{
  border-top-color: #777;
}

.pac-container.night .pac-item:hover{
  background-color: #607080;
}

.pac-container.night .pac-item-query{
  color: #ccc;
}

.pac-container.night .pac-item-query .pac-matched{
  color: #fff;
}
.pac-container.pac-logo.night:after{
  color #ccc;
}
