@import url("segment.css");

.light {
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

:root,
html body,
html body .gm-style {
  font-family: "Noto Sans JP";
}

html,
body,
#map-canvas,
.layout-root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.labels {
  color: black;
  background-color: white;
  font-size: 10px;
  text-align: center;
  width: 60px;
  border: 2px solid red;
}

.looking {
  color: white;
  background-color: red;
}

.search-bar {
  margin: 10px;
  padding: 8px;
  background-color: rgba(245, 245, 247, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 24px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.width-wrapper {
  width: 100vw;
}

#search-bar .search-bar {
  padding: 0px;
  min-height: 48px;
  max-width: 320px;
  width: auto;
  position: relative;
}

button#menu {
  position: absolute;
  width: 48px;
  height: 48px;
  border: 0;
  background-color: transparent;
  margin: 10px;
  padding: 0px;
  text-align: center;
  top: -10px;
  left: -10px;
  anchor-name: --OptionButton;
}

button#menu i.bi {
  font-size: 20px;
  display: grid;
  place-items: center;
  color: #444;
  height: 100%;
}

.search-bar::after {
  content: "";
  display: block;
  height: 0px;
  border-bottom: 0.0001px solid transparent;
}

.caption {
  font-size: 14px;
  margin-bottom: 5px;
}

#popover {
  position: fixed;
  position-anchor: --OptionButton;
  top: anchor(bottom);
  left: anchor(left);
  margin: 0;
  margin-top: 5px;
  border: 0;
  border-radius: 24px;
  background-color: rgba(245, 245, 247, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow:
    rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
}

[popover]:popover-open {
  opacity: 1;
  transform: translateY(0px);
}

[popover] {
  opacity: 0;
  transform: translateY(-10px);
  transition:
    opacity 0.2s,
    transform 0.2s,
    display 0.2s allow-discrete;
}

@starting-style {
  [popover]:popover-open {
    opacity: 0;
    transform: translateY(-10px);
  }
}

#search-bar {
  display: none;
  position: absolute;
  width: 100%;
}

#search-bar input {
  font-size: 15px;
}

#search-bar input::-ms-clear {
  display: none;
}

#search-bar button#clear {
  display: none;
}

#search-bar input:focus + button#clear {
  display: block;
}

#search-bar button:focus,
#search-bar input:focus {
  outline: 0px;
}

#search-bar form {
  margin-left: 48px;
  padding-left: 6px;
  padding-right: 10px;
  height: 48px;
}

#search-bar form input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  background: transparent;
  font-family: "Noto Sans JP";
}

.nav-switch {
  margin-bottom: 15px;
}

.nav-switch:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 600px) {
  #search-bar input {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  #search-bar .search-bar {
    max-width: 9999px;
    z-index: 1;
  }

  .gm-fullscreen-control {
    top: 63px !important;
  }
}

/* styles for complexed search implementations */

#search-bar .ui-menu-item {
  font-size: 13px;
  font-family: "Noto Sans JP";
}

@media screen and (max-width: 600px) {
  #search-bar .ui-menu-item {
    font-size: 15px;
  }
}

#search-bar .ui-menu-item > span {
  display: block;
  padding: 4px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#search-bar .ui-menu-item span.secondary {
  margin-left: 8px;
  opacity: 0.5;
}

#search-bar .ui-menu-item:hover {
  background-color: #5070d0;
  color: #fff;
}

#focus_trick {
  width: 1px;
  height: 1px;
  background: transparent;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
}

.ui-autocomplete {
  position: static !important;
  margin-inline: 10px;
  margin-bottom: 10px;
  left: 0px !important;
  white-space: nowrap;
  width: auto !important;
  min-width: unset !important;
  max-width: unset !important;
  border-radius: 14px;
  background-color: rgba(245, 245, 247, 0.4);
  backdrop-filter: blur(20px) saturate(280%);
  border: none !important;
  box-shadow: 0.1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.ui-autocomplete strong {
  font-weight: 700;
}

.gm-control-active {
  background-color: rgba(245, 245, 247, 0.8) !important;
  backdrop-filter: blur(20px) saturate(280%);
}

.ui-autocomplete i {
  margin-right: 5px;
}

.dark button#menu i.bi {
  color: #ccc;
}

.dark .search-bar,
.dark input,
.dark #popover {
  background-color: rgb(64 80 96 / 0.5);
}

.dark input::placeholder {
  color: #ccc;
  opacity: 0.5;
}

.dark input {
  color: #ccc;
}
/* styles for night mode */
.dark #search-bar .ui-autocomplete {
  background-color: #405060;
  color: #ccc;
  border-color: #666;
}

.dark .ui-autocomplete {
  background-color: rgb(64 80 96 / 0.25);
}
