:root,
html body,
html body .gm-style {
  font-family: "Noto Sans JP";
}

html,
body,
#map-canvas,
.layout-root,
.layout-root .mdl-layout__content {
  height: 100%;
  margin: 0;
  padding: 0;
}

.labels {
  color: black;
  background-color: white;
  font-size: 10px;
  text-align: center;
  width: 60px;
  border: 2px solid red;
}

.looking {
  color: white;
  background-color: red;
}

.additional-control {
  margin: 10px;
  padding: 8px;
  background-color: rgba(245, 245, 247, 0.8);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 24px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
}

.width-wrapper {
  width: 100vw;
}

#search-bar.mdl-layout__header {
  background-color: transparent;
  box-shadow: none;
}

#search-bar .additional-control {
  padding: 0px;
  min-height: 48px;
  max-width: 320px;
  width: auto;
  position: relative;
}

.additional-control.search-bar::after {
  content: "";
  display: block;
  height: 0px;
  border-bottom: 0.0001px solid transparent;
}

#search-bar {
  display: none;
  position: absolute;
}

#search-bar button {
  color: #000;
  background-color: transparent;
  margin: 10px;
  padding: 0px;
  text-align: center;
}

#search-bar input {
  font-size: 15px;
}

#search-bar input::-ms-clear {
  display: none;
}

#search-bar button#clear {
  display: none;
}

#search-bar input:focus + button#clear {
  display: block;
}

#search-bar button:focus {
  outline: 0px;
}

#search-bar input:focus {
  outline: 0px;
}

#search-bar form {
  margin-left: 48px;
  padding-left: 6px;
  padding-right: 10px;
  height: 48px;
}

#search-bar form input {
  border: none;
  width: 100%;
  height: 100%;
  padding: 0px;
  background: transparent;
  font-family: "Noto Sans JP";
}

.nav-switch {
  margin: 10px;
  height: 48px;
}

@media screen and (max-width: 600px) {
  #search-bar input {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  #search-bar .additional-control {
    max-width: 9999px;
  }
}

.night .search-bar,
.night input {
  background-color: rgb(64 80 96 / 0.5);
}

.night input::placeholder {
  color: #ccc;
  opacity: 0.5;
}

#search-bar.night button.mdl-layout__drawer-button,
.night input {
  color: #ccc;
}

/* styles for complexed search implementations */

#search-bar .ui-autocomplete {
  margin-left: 8px;
  left: 0px !important;
  white-space: nowrap;
}

#search-bar .ui-menu-item {
  font-size: 13px;
  font-family: "Noto Sans JP";
}

@media screen and (max-width: 600px) {
  #search-bar .ui-menu-item {
    font-size: 15px;
  }
}

#search-bar .ui-menu-item > span {
  display: block;
  padding: 4px 8px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#search-bar .ui-menu-item i.fa {
  font-size: 16px;
  margin-right: 8px;
}

#search-bar .ui-menu-item span.secondary {
  margin-left: 8px;
  opacity: 0.5;
}

#search-bar .ui-menu-item:hover {
  background-color: #5070d0;
  color: #fff;
}

/* styles for night mode */
#search-bar .ui-autocomplete.night {
  background-color: #405060;
  color: #ccc;
  border-color: #666;
}

#focus_trick {
  width: 1px;
  height: 1px;
  background: transparent;
  position: absolute;
  margin: 0;
  padding: 0;
  border: 0;
}

.ui-autocomplete {
  position: static !important;
  margin-inline: 10px !important;
  margin-bottom: 10px;
  width: auto !important;
  min-width: unset !important;
  max-width: unset !important;
  border-radius: 14px;
  background-color: rgba(245, 245, 247, 0.4);
  backdrop-filter: blur(20px) saturate(280%);
  border: none !important;
  box-shadow: 0.1px 1px 3px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.night .ui-autocomplete {
  background-color: rgb(64 80 96 / 0.25);
}

.ui-autocomplete strong {
  font-weight: 700;
}

.gm-control-active {
  background-color: rgba(245, 245, 247, 0.8) !important;
  backdrop-filter: blur(20px) saturate(280%);
}

.ui-autocomplete i {
  margin-right: 5px;
}

.mdl-layout__drawer-button i.bi {
  font-size: 20px;
  display: block;
  color: #444;
}
