doctype
html
  block vars
  head
    title
  body
    ul
      li: a(href='/auth/twitter') twitter
      li: a(href='/auth/facebook') facebook
      li: a(href='/auth/google') google
      li: a(href='/auth/windowslive') windowslive
      li: a(href='/auth/github') github
