doctype
html
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/components/Umi/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    title
  body
    header: .navbar.navbar-default.navbar-static-top
      .container: .navbar-header: p login
    .container
      
    script(src='/components/Umi/dist/js/bootstrap.min.js', async)
    ul
      li: a.btn(href='/auth/twitter') twitter
      li: a.btn(href='/auth/facebook') facebook
      li: a.btn(href='/auth/google') google
      li: a.btn(href='/auth/windowslive') windowslive
      li: a.btn(href='/auth/github') github
