doctype
html
  block vars
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/components/Umi/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/default.css')
    title login
  body
    header
      .navbar.navbar-default.navbar-static-top
        .container
          .navbar-header
            a.navbar-brand locapos
    .container
      .bs-callout.bs-callout-success
        h4 認証に成功しました
        p.
          アプリケーションに転送しています...
          転送されない場合は#[a(href=uri) ここをクリック]してください
    script(type='text/javascript').
      setTimeout(function(){location.href = '!{uri}'}, 3000);
    script(src='/components/Umi/dist/js/bootstrap.min.js', async)
